# Secrets
Secrets.swift

# Xcode
.DS_Store
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
!xcshareddata/
!xcschemes/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.appsync
.swiftpm/ 